<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>X Corp - Home</title>
  <style>
    form{
      margin: 0 auto;
    }
  </style>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
      <a href="index.html" class="navbar-brand">X CORP</a>
    </nav>
  <div class="py-5 text-center">
    <img src="logo.png" alt="Smiley face" height="130" width="130"><br><br>
    <h2>Welcome to X CORP</h2>
    <p class="lead">Here you can login to your account</p>
  </div>

  <form class="w-25 p-3">
    <!-- Select Your Specialty -->
    <div class="form-group">
      <label for="inputAddress2">Select your specialty</label>
      <select id="inputState" class="form-control">
        <option>Doctor</option>
        <option>Radiology Center Staff</option>
        <option>Radiologist</option>
      </select>
    </div>
    <div class="form-group">
      <h3>Login as #idikotota</h3>
    </div>
    <!-- Email -->
    <div class="form-group">
      <input type="email" class="form-control" id="inputAddress" placeholder="Email">
    </div>
    <!-- Password -->
    <div class="form-group">
      <input type="password" class="form-control" id="inputAddress" placeholder="Password">
    </div>
    <!-- Submit -->
    <button type="submit" class="btn btn-primary w-100">Login</button><br><br>
    <!-- Forgot My Password -->
    <a href="#" class="d-flex justify-content-center">I forgot my password</a>
    <div class="form-group d-flex justify-content-center">
      <p>If you dont have an account, create one <a href="../register/register.html">here</a>.</p>
    </div>
  </form>



</body>
</html>
